<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Change Password</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Styles/layout_change_pass.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/mediaqueries.css" type="text/css" media="all">
    <script src="~/Scripts/jquery.1.9.0.min.js"></script>
    <script src="~/Scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="#">Change Password</a></h1>
            </div>
            <form action="#" method="post">
                <input type="submit" class="sf_submit" value="Log out">
            </form>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row3">
        <div class="container">
            <form action="#">

                <div class="row">
                    <div class="col-25">
                        <label>Old Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="old_pass" name="mail" placeholder="Your password..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>New Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="new_pass" name="mail" placeholder="Your password..">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="mail" placeholder="Your password..">
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Change">
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>