<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>My Requests</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Styles/layout_doctor_my_requests.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Styles/mediaqueries.css" type="text/css" media="all">
    <script src="~/Scripts/jquery.1.9.0.min.js"></script>
    <script src="~/Scripts/jquery-mobilemenu.min.js"></script>
</head>
<body>

<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1>
                <a href="#">Request details</a>
            </h1>
            <h2>
                <a href="#">Doctor</a>
            </h2>
        </div>
        <form action="#" method="post">
            <input type="submit" class="sf_submit" value="Log out">
        </form>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("DoctorHome")">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("PersonalDetails")">Personal Details</a>
                </li>
                <li>
                    <a href="@Url.Action("RequestBlood")">Request blood</a>
                </li>
                <li>
                    <a href="#">My requests</a>
                </li>
                <li class="last">
                    <a href="@Url.Action("AccountSettings")">Account Settings</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<!-- content -->

<div class="wrapper row3">
    <div class="container">
        <form action="#">
            <table style="width: 100%">
                <tr>
                    <th>ID Request</th>
                    <th>Hospital</th>
                    <th>Delivery Address</th>
                    <th>Quantity(ml)</th>
                    <th>Arrival Time(h)</th>
                    <th>Request date</th>

                </tr>
                <!-- Add information in taable -->
                <!-- -->

                <tr>
                    <td>1</td>
                    <td>Cluj-Napoca A</td>
                    <td>Strada Dorobantilor nr. 15</td>
                    <td>0</td>
                    <td>3</td>
                    <td>12.12.2018
                    <td>

                </tr>
            </table>
        </form>
    </div>
</div>
<!-- Footer -->
<div class="wrapper row4">
    <footer id="footer" class="clear">
        <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Domain Name</a></p>
    </footer>
</div>
</body>
</html>