@{
    ViewBag.Title = "Home Page";
}

<html lang="en" dir="ltr">
<head>
    <title>Blood Donation</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="../../Styles/layout.css" type="text/css">
    <!--[if lt IE 9]>
        <script src="scripts/html5shiv.js"></script><![endif]-->

    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC3qNG0NkgojCMCJvRHYNtUdfhvvTB9uFk",
            authDomain: "blooddonation-d1f79.firebaseapp.com",
            databaseURL: "https://blooddonation-d1f79.firebaseio.com",
            projectId: "blooddonation-d1f79",
            storageBucket: "blooddonation-d1f79.appspot.com",
            messagingSenderId: "671278196930"
        };
        firebase.initializeApp(config);
    </script>

    <script>
        function register() {
            var email = document.getElementById("username").value;
            var password = document.getElementById('password').value;

            alert(email + " " + password);

            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // ...
                alert(errorMessage + "---" + errorCode);
            });
        }

        function login() {
            var email = document.getElementById("username").value;
            var password = document.getElementById('password').value;

            alert(email + " " + password);

            firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // ...
            });
        }

        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                alert("Logged in as " + firebase.auth().currentUser.email);
            } else {
                alert("Not logged in");
            }
        });


    </script>

</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
        </div>

    </header>
</div>
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- Slider -->
        <section id="slider" class="clear">
            <figure>
                <img src="../../Images/red_blood_cells.jpg" alt="">
                <figcaption>
                    <h2>Why should I donate blood?</h2>
                    <p>
                        Blood is needed to save lives in times of emergencies and to sustain the lives of those with medical conditions, like leukemia, thalassaemia and bleeding disorders, as well as patients who are undergoing major surgeries.
                        <br/><br/>
                        For many patients, blood donors are their lifeline. One unit of blood can save three lives!
                    </p>
                </figcaption>
            </figure>
        </section>
        <!-- main content -->
        <div id="intro">
            <section class="clear">
                <form action="#" method="post">
                    <fieldset>
                        <legend>Search:</legend>
                        <input type="text" value="User name" id="username"
                               onFocus="this.value = (this.value == 'Search Our Website&hellip;') ? '' : this.value;">
                        <input type="text" value="Password" id="password"
                               onFocus="this.value = (this.value == 'Search Our Website&hellip;') ? '' : this.value;">
                        <input class="sf_submit" value="Log in" onclick="login();">
                        <input class="sf_submit" value="Sign up" onclick="register();">
                        <input type="submit" class="forget_pass" value="Forgot password?">
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    </footer>
</div>
</body>
</html>