@{
    ViewBag.Title = "Home Page";
}

<html lang="en" dir="ltr">
<head>
    <title>Blood Donation</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="../../Styles/layout.css" type="text/css">
    <!--[if lt IE 9]>
    <script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
            </div>

        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container" class="clear">
            <!-- Slider -->
            <section id="slider" class="clear">
                <figure>
                    <img src="../../Images/red_blood_cells.jpg" alt="">
                    <figcaption>
                        <h2>Why should I donate blood?</h2>
                        <p>
                            Blood is needed to save lives in times of emergencies and to sustain the lives of those with medical conditions, like leukemia, thalassaemia and bleeding disorders, as well as patients who are undergoing major surgeries.
                            <br/><br/>
                            For many patients, blood donors are their lifeline. One unit of blood can save three lives!
                        </p>
                    </figcaption>
                </figure>
            </section>
            <!-- main content -->
            <div id="intro">
                <section class="clear">
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Search:</legend>
                            <input type="text" value="User name"
                                   onFocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
                            <input type="text" value="Password"
                                   onFocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
                            <input type="submit" class="sf_submit" value="Log in">
                            <input type="submit" class="sf_submit" value="Sign up">
                            <input type="submit" class="forget_pass" value="Forgot password?">
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        </footer>
    </div>
</body>
</html>
